.contact {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #11FCDB;
    width: 50%;
    margin-left: 25%;
  }
  
  .contact-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form label {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #11FCDB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0fb4b1;
  }
  
  .contact-status {
    margin-top: 15px;
    font-size: 1.2em;
  }
  