.home {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  color: #11FCDB;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin-top: 0;
  padding: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos a la izquierda en ordenadores */
  text-align: left;
  max-width: 500px;
  width: 100%;
  margin-left: 350px; /* Mantiene el margen izquierdo en pantallas grandes */
}

.photo-container {
  position: absolute;
  top: 40%;
  left: 350px;
  transform: translateY(-50%);
}

.photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #11FCDB;
}

.title {
  font-size: 2.5em;
  margin: 0;
  color: #666;
}

.subtitle {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 0;
  color: #555;
}

.text {
  font-size: 1em;
  color: #11FCDB;
  margin-top: 20px;
}

/* Estilos responsive para pantallas más pequeñas */
@media (max-width: 768px) {
  .home {
    flex-direction: column; /* Cambia la dirección a columna en pantallas más pequeñas */
    font-size: 18px; /* Reduce el tamaño de la fuente */
  }

  .home-content {
    margin-left: 0; /* Elimina el margen izquierdo */
    align-items: center; /* Alinea el contenido al centro */
    text-align: center; /* Centra el texto */
  }

  .photo-container {
    position: relative; /* Cambia a relativo para que la imagen fluya correctamente */
    left: 0;
    top: 0;
    transform: none;
    margin-bottom: 20px; /* Agrega espacio debajo de la imagen */
  }

  .photo {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .home {
    font-size: 16px;
  }

  .photo {
    width: 150px;
    height: 150px;
  }

  .title {
    font-size: 1.8em;
  }

  .subtitle {
    font-size: 1.1em;
  }
}
