.home {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido dentro del contenedor */
    
    color: #11FCDB; /* Color del texto */
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-top: 0;
    padding: 0;
    margin: 0;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos internos a la izquierda */
    text-align: left; /* Alinea el texto dentro de los elementos a la izquierda */
    max-width: 500px; /* Limita el ancho del contenido */
    width: 100%; /* Asegura que el contenedor use el ancho disponible */
    margin-left: 350px; /* Desplaza el contenido hacia la derecha */
  }
  
  .photo-container {
    position: absolute;
    top: 40%;
    left: 350px; /* Espacio a la izquierda para la foto */
    transform: translateY(-50%); /* Centra verticalmente la foto */
  }
  
  .photo {
    width: 250px; /* Ajusta el tamaño según sea necesario */
    height: 250px;
    border-radius: 50%; /* Hace la foto redondeada */
    object-fit: cover; /* Ajusta la imagen para que se recorte bien */
    border: 3px solid #11FCDB;
  }
  
  .title {
    font-size: 2.5em; /* Tamaño del título */
    margin: 0; /* Sin margen alrededor del título */
    color: #666; /* Color del título */
  }
  
  .subtitle {
    font-size: 1.5em; /* Tamaño del subtítulo */
    margin-top: 5px; /* Espacio arriba del subtítulo para reducir el espacio con el título */
    margin-bottom: 0; /* Sin margen abajo del subtítulo */
    color: #555; /* Color del subtítulo */
  }
  
  .text {
    font-size: 1em; /* Tamaño del texto */
    color: #11FCDB; /* Color del texto */
    margin-top: 20px; /* Espacio arriba del texto */
  }
  