.projects {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #11FCDB;
    width: 75%;
    margin-left: 15%;
  }
  
  .projects-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: lighter;
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project-item {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(50% - 20px); /* Ajusta el ancho según el número de columnas que quieras */
    position: relative; /* Necesario para posicionar la descripción sobre la imagen */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza el cambio */
  }
  
  .project-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño del ítem al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Añade sombra para resaltar */
  }

  .project-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
  }
  
  .project-image {
    width: 100%;
    height: 350px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
  }
  
  .project-info {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para la descripción */
    color: #fff; /* Color del texto para que contraste con el fondo */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
  }
  
  .project-title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .project-description {
    font-size: 1em;
    color: #ddd; /* Color del texto de la descripción */
  }
  