.skills {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #11FCDB;
  }
  
  .skills-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #333;
    border-radius: 8px;
    padding: 40px;
    width: 200px; /* Ajusta según sea necesario */
    height: 70px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza el cambio */
  }
  
  .skill-item:hover {
    transform: scale(1.1); /* Aumenta el tamaño del ítem al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Añade sombra para resaltar */
  }
  
  .skill-icon {
    width: 40px; /* Ajusta el tamaño del ícono */
    height: 40px;
    object-fit: contain;
  }
  
  .skill-name {
    font-size: 1.2em;
    color: #fff;
  }
  